<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/notes/<%= note.id %>" method="post">
        <input type="text" name="author" placeholder="@author" value="<%= note.author %>"><br>
        <textarea name="content" id="" cols="30" rows="10"><%= note.content %></textarea><br>
        <input type="text" name="image" id="" value="<%= note.image %>">
        <button>Editar nota</button>
    </form>
</body>
</html>